*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #fff;
  font-family: Poppins, sans-serif;
  background: #0d0d11;
  overflow-x: hidden;
}

h1 {
  font-size: 51px;
  font-weight: 500;
}
p {
  font-weight: 300;
}

.container {
  max-width: 1280px;
  padding: 0px 40px;
  margin: 0px auto;
  box-sizing: content-box;
}

/* ----------HEADER----------- */
.header-box {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin: 38px 0px 38px 0px;
  transition: all 0.4s;
}
.logo:hover {
  transform: translateY(-0.3rem);
}
.main-nav-list {
  display: flex;
  gap: 38px;
  margin: 32px 0px 32px 0px;
  align-items: center;
}

.main-nav-link {
  color: #fff;
  font-weight: 300;
  line-height: 1.6;
  font-size: 16px;
  transition: all 0.4s;
}

.main-nav-button {
  color: #fff;
  font-weight: 300;
  line-height: 1.6;
  font-size: 16px;
  transition: all 0.4s;
}

.burger-menu {
  display: none;
}

.close-burger-menu {
  display: none;
}

.main-nav-link:hover {
  color: #9c9b9b;
}

.number {
  font-size: 14px;
  margin-left: 5px;
  padding: 4px 10px;
  background-color: #313132;
  border-radius: 50%;
}

.arrow-bottom {
  padding-top: 2px;
  width: 23px;
  align-items: center;
  transition: all 0.4s;
}

li:hover .arrow-bottom {
  opacity: 50%;
  transform: rotateZ(-180deg);
  margin: 3px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.btn-animation1 {
  padding: 15px 30px;
  background-color: #3d96f4;
  border-radius: 50px;
  letter-spacing: 0.1em;
  font-size: 14px;
  transition: all 0.4s;
}
.btn-animation1:hover {
  transition: all 0.4s ease 0s;
  background-color: #61e37d;
  transform: translateY(-0.3rem);
}

/* --------SETICTION-HERO--------- */
.header {
  position: relative;
}

.head {
  color: #000;
  font-weight: 600;
  padding-bottom: 10px;
}
.list {
  color: #000;
}
.pages-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 145px;
  right: 145px;
  z-index: 2;
  transition: all 0.5s;
}

.main-nav-list li:hover .pages-menu {
  opacity: 1;
  visibility: inherit;
  animation: fade-in;
  animation: fade-out;
  animation-duration: 0.3;
  transform: translateY(-3rem);
}

.offer-item:hover .arrow {
  opacity: 1;
  animation: fade-in;
  animation: fade-out;
  animation-duration: 0.3;
  transform: translateY(-1.4rem);
}

.pages-menu-box {
  gap: 40px;
  border-radius: 30px;
  padding: 50px 60px;
  display: flex;
  background-color: #fff;
}

.slide-list li {
  padding-bottom: 25px;
}
.slide-list li:last-child {
  padding-bottom: 0px;
}
.slide-list li a {
  color: #0d0d11;
  transition: all 0.3s;
}
.slide-list li a:hover {
  color: #97979d;
}
.section-hero {
}
.container {
  position: relative;
}
.hero-dots {
  position: absolute;
  top: 108px;
  left: 19px;
}
.hero-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin: 44px 0px 192px 0px;
}

.hero-text-box {
  margin-top: 130px;
}

.hero-text-header {
  color: #fff;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 28px;
  max-width: 550px;
}
.hero-text-description {
  font-size: 18px;
  color: #9c9c9c;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 33px;
  max-width: 500px;
}
.hero-btns {
  display: flex;
  gap: 32px;
}
.hero-btn-services {
  padding: 15px 30px;
  background-color: #3d96f4;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.hero-btn-contact {
  padding: 15px 30px;
  color: #fff;
  background-color: #292828;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.hero-img-box {
}
.page-padding {
  /* padding-right: 40px; */
}
.hero-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  /* padding-right: 30px; */
  /* margin-right: 50px;  */
}
.img1 {
  grid-area: 1 / 1 / 3 / 2;
}
.img2 {
  grid-area: 3 / 1 / 4 / 2;
}
.img3 {
  grid-area: 1 / 2 / 2 / 3;
  /* margin-right: 50px; */
}
.img4 {
  grid-area: 2 / 2 / 4 / 3;
  /* margin-right: 50px; */
}
/* --------SECTION-COMPANIES-------- */

.section-companies {
}
.container {
}
.companies-box {
}
.companies-header {
  text-align: center;
  font-size: 14px;
  color: #949393;
  font-weight: 300;
  /* margin-bottom: 30px; */
}

.marquee {
  /* width: 1152px; */
  display: flex;

  block-size: var(--marquee-item-height);
  margin-block: var(--marquee-item-height);
  position: relative;
  overflow-x: hidden;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee--8 {
  margin-top: 40px;
  --marquee-item-width: 50px;
  --marquee-item-height: 100px;
  --marquee-duration: 36s;
  --marquee-items: 5;
}
.marquee__item {
  --marquee-item-offset: max(
    calc(var(--marquee-item-width) * var(--marquee-items)),
    calc(100% + var(--marquee-item-width))
  );
  --marquee-delay: calc(
    var(--marquee-duration) / var(--marquee-items) *
      (var(--marquee-items) - var(--marquee-item-index)) * -1
  );
  position: absolute;
  inset-inline-start: var(--marquee-item-offset);
  transform: translateX(-50%);
  animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
}

.marquee__item:nth-child(4n) {
  border-top-right-radius: 1rem;
}

.marquee__item:nth-child(4n + 1) {
  border-bottom-right-radius: 1rem;
}

.marquee__item:nth-child(4n + 2) {
  border-bottom-left-radius: 1rem;
}

.marquee__item:nth-child(4n + 3) {
  border-top-left-radius: 1rem;
}

.marquee--8 .marquee__item:nth-of-type(1) {
  --marquee-item-index: 1;
}

.marquee--8 .marquee__item:nth-of-type(2) {
  --marquee-item-index: 2;
}

.marquee--8 .marquee__item:nth-of-type(3) {
  --marquee-item-index: 3;
}

.marquee--8 .marquee__item:nth-of-type(4) {
  --marquee-item-index: 4;
}

.marquee--8 .marquee__item:nth-of-type(5) {
  --marquee-item-index: 5;
}

@keyframes go {
  to {
    inset-inline-start: calc(var(--marquee-item-width) * -1);
  }
}
/* --------SECTION-SERVICES------- */

.section-services {
}
.container {
}
.services-box {
  display: grid;
  grid-template-columns: auto auto;

  gap: 64px;
}
.services-text-box {
  margin-top: 223px;
}
.theam-services {
  display: inline-block;
  font-size: 11px;
  color: #9c9c9c;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid #2c2c2c;
  margin-bottom: 25px;
}
.header-services {
  color: #fff;
  margin-bottom: 40px;
}
.description-services {
  font-size: 18px;
  color: #9c9c9c;
  margin-bottom: 32px;
  line-height: 1.5;
}
.btn-services {
  padding: 15px 30px;
  background-color: #3d96f4;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.services-offer-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 32px;
  /* margin-left: 105px; */
}
.first-box {
  padding-top: 48px;
}
.first {
  margin-bottom: 32px;
}
.second {
  margin-bottom: 32px;
}
.offer-item {
  cursor: pointer;
  position: relative;
  background-color: #81818b21;
  padding: 55px 25px 62px 25px;
  border-radius: 30px;
  max-width: 316px;
  transition: all 0.8s;
}

.offer-item:hover {
  background-color: #3d96f4;
}

.offer-item:hover .item-description {
  color: #fff;
  transform: translateY(-2.6rem);
}
.offer-item:hover .item-icon {
  opacity: 0;
  animation: fade-out;
  animation-duration: 0.3;
  transform: translateY(-4rem);
}
.offer-item:hover .item-header {
  transform: translateY(-2.6rem);
}
.offer-item:hover .arrow {
  opacity: 1;
  animation: fade-in;
  animation: fade-out;
  animation-duration: 0.3;
  transform: translateY(-1.4rem);
}

.item-icon {
  margin-bottom: 16px;
  transition: all 0.4s;
}
.item-header {
  z-index: 0;
  font-size: 19px;
  color: #fff;
  margin-bottom: 10px;
  transition: all 0.4s;
}
.item-description {
  color: #81818b;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.4s;
}

.arrow {
  opacity: 0;
  position: absolute;
  height: 30px;
  width: 30px;
  transition: all 0.8s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.second-box {
}

/* ---------SECTION-ADVANTAGES---------- */
.section-advantages {
}
.container {
  position: relative;
}
.advantages-dots {
  position: absolute;
  z-index: 0;
  top: 495px;
  left: 19px;
}
.advantages-box {
  display: flex;
  margin-top: 183px;
  margin-bottom: 192px;
  gap: 67px;
}
.image-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  align-self: flex-end;
  z-index: 1;
}
.image6 {
  margin-top: 330px;
}
.text-box {
  max-width: 608px;
}
.theam-advantages {
  margin-bottom: 43px;
  display: inline-block;
  font-size: 11px;
  color: #404040;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid #2c2c2c;
}
.header-advantages {
  margin-bottom: 40px;
  color: #fff;
  line-height: 1.2;
}
.description-advantages {
  margin-bottom: 35px;
  font-size: 18px;
  color: #9c9c9c;
  line-height: 1.5;
}
.advantages-list {
}
.advantage {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
.advantage {
  align-items: center;
  color: #9c9c9c;
}

/* ---------SECTION-RESULTS----------- */

.section-results {
}
.container {
}
.results-box {
  padding-bottom: 192px;
}
.head-box-results {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.hero-box-results {
  max-width: 576px;
}
.theam-advantages {
  color: #9c9c9c;
}
.header-advantages {
}
.description-advantages {
}
.btn {
  align-self: flex-end;
  padding-bottom: 30px;
}
.results-btn {
  padding: 15px 30px;
  background-color: #3d96f4;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.image-box-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 64px;
  row-gap: 64px;
}
.item-img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.item-box {
  background-color: #1f1e21e6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.6s;
}
.item-box:hover {
  background-color: #28262ae6;
  transform: translateY(-0.5rem);
}
.item-box:hover .arrow-right {
  transform: translate(0.5rem);
}
.item-image-box h4 {
  color: #fff;
}
.item-image-box a {
  color: #3d96f4;
  padding-left: 26px;
}
.item-image-box {
  padding-bottom: 40px;
}

.item-image-box p {
  font-size: 18px;
  color: #9c9c9c;
  line-height: 1.5;
  padding: 20px 26px 26px 26px;
}
.top-text-section img {
  width: 220px;
  height: 80px;
}
.top-text-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  padding-top: 15px;
}
.line {
  border-bottom: 1px #363636 solid;
  width: 60px;
}
.btn-arrow {
  display: flex;
}
.arrow-right {
  margin-left: 7px;
  width: 18px;
  height: 18px;
  transition: all 0.6s;
}

/* ----------SECTION-STATISTIC------------ */
.section-statistic {
}
.container {
}
.statistic-box {
  display: grid;
  grid-template-columns: 55% 45%;
  column-gap: 30px;
  padding-bottom: 190px;
}
.statistic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.item {
  background-color: #1f1e21e6;
  border-radius: 30px;
}

.item-box-stat {
  padding: 40px;
}
.item-box-stat h1 {
  padding-bottom: 32px;
  color: #fff;
}
.item-box-stat p {
  color: #9c9c9c;
  line-height: 1.5;
  font-size: 18px;
}
.statistic-box img {
  max-width: 100%;
}

.appear2 {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.appear2.inview2 {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.appear2.inview2:nth-child(1) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.1s;
}

.appear2.inview2:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.appear2.inview2:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.appear2.inview2:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* ----------SECTION-TESTIMONIALS---------- */

.testimonials-box {
  padding-bottom: 192px;
}
.testimonials-text-box {
  padding-bottom: 75px;
  display: flex;
  justify-content: space-between;
}
.testimonials-head {
  max-width: 576px;
}
.theam-testimonials {
  margin-bottom: 30px;
  display: inline-block;
  font-size: 11px;
  color: #9c9c9c;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid #2c2c2c;
}
.header-testimonials {
  padding-bottom: 25px;
}
.description-testimonials {
  color: #9c9c9c;
  font-size: 18px;
  line-height: 1.5;
}
.test-btn {
  align-self: flex-end;
}
.testimonials-btn {
  padding: 15px 30px;
  background-color: #3d96f4;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.testimonials-reviews-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
}
.item {
  background-color: #1f1e21e6;
}
.item-reviews-box {
  margin: 64px 40px;
}
.author-box {
  display: flex;
  column-gap: 15px;
  align-items: center;
  padding-bottom: 30px;
}

.author-name {
  padding-bottom: 15px;
}
.author-company {
  color: #9c9c9c;
}
.author-comment {
  line-height: 1.5;
  font-size: 32px;
  padding-bottom: 34px;
}
.author-description {
  line-height: 1.7;
  color: #9c9c9c;
  padding-bottom: 35px;
}
.appear2.inview2.appear:nth-child(1) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.appear2.inview2.appear:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.appear2.inview2.appear:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* -------SECTION-ARTICLES--------- */
.articles-box {
  padding-bottom: 144px;
}
.articles-text-box {
  padding-bottom: 75px;
  display: flex;
  justify-content: space-between;
}
.articles-head {
  max-width: 576px;
}
.theam-articles {
  margin-bottom: 30px;
  display: inline-block;
  font-size: 11px;
  color: #9c9c9c;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid #2c2c2c;
}
.header-articles {
  max-width: 400px;
  padding-bottom: 25px;
  line-height: 1.2;
}
.description-articles {
  color: #9c9c9c;
  font-size: 18px;
  line-height: 1.5;
}
.test-btn {
  align-self: flex-end;
}
.articles-btn {
  padding: 15px 30px;
  background-color: #3d96f4;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.articles-reviews-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 48px;
}
.item {
  background-color: #1f1e21e6;
}
.item-slide {
  transition: all 0.6s;
}
.item-slide:hover {
  background-color: #28262ae6;
  transform: translateY(-0.5rem);
}
.item-slide:hover .arrow-right {
  transform: translate(0.5rem);
}

.item-articles-box {
  margin: 36px 26px 40px;
}
.date {
  padding-bottom: 20px;
  color: #9c9c9c;
}
.article {
  line-height: 1.5;
  font-size: 19px;
  padding-bottom: 30px;
}

.social-media-img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.article-link {
  color: #3d96f4;
  font-size: 14px;
}
.arrow-link {
}
.link {
  display: flex;
  align-items: center;
}
.link-img img {
  padding-top: 3px;
}

/*----------SECTION-JOINUS------------*/

.container {
}
.block {
  margin-bottom: 180px;
  border-radius: 30px;
  background-color: #1f1e21e6;
  display: flex;
  justify-content: space-around;
}
.text__box {
  margin-top: 52px;
  max-width: 373px;
  text-align: center;
}
.head-text__box {
  line-height: 1.4;
  padding-bottom: 16px;
  font-size: 32px;
}
.description-text__box {
  line-height: 1.6;
  margin-bottom: 52px;
  font-size: 16px;
  color: #9c9c9c;
}
.button-box {
  margin-top: 102px;
}
.services-btn {
  margin-right: 32px;
  padding: 15px 30px;
  background-color: #3d96f4;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.contact-btn {
  padding: 15px 30px;
  background-color: #303033;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/*----------FOOTER------------*/

.box {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  column-gap: 64px;
  margin-bottom: 180px;
}
.growfy__box {
}
.logo-footer {
  margin-bottom: 34px;
}
.description__box {
  line-height: 1.6;
  margin-bottom: 33px;
  /* padding-right: 20px; */
  color: #9c9c9c;
}
.socials img {
  padding: 0px 16px 16px 0px;
  cursor: pointer;
}
.pages__box ul li {
  margin-bottom: 25px;
}
.pages__box ul {
  margin-right: 30px;
}
.pages__box ul li a {
  color: #9c9c9c;
  font-size: 16px;
  line-height: 1.6;
}
.head__pages {
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 32px;
}
.utilities__box ul li {
  margin-bottom: 25px;
}
.utilities__box ul {
  margin-right: 48px;
}
.utilities__box ul li a {
  color: #9c9c9c;
  font-size: 16px;
  line-height: 1.6;
}
.head__utilities-box {
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 30px;
}
.subscribe__box {
}
.head__subscribe-box {
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 30px;
}
.description__subscribe-box {
  line-height: 1.6;
  margin-bottom: 33px;
  color: #9c9c9c;
}
.btns__subscribe-box {
}
.btn-enter-email {
  color: #999;
  padding: 16px 32px;
  border-radius: 50px;
  border: 1px solid #3f3f40;
  background-color: #0d0d11;
  margin: 0px 16px 16px 0px;
  font-size: 16px;
}
.btn-subscribe {
  background-color: #3d96f4;
  padding: 16px 32px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}

.copyright {
  border-top: 1px solid #272727;
  color: #9c9c9c;
}
.copyright {
  padding: 46px 0px;
  text-align: center;
}

.btn-animation1 {
  transition: all 0.4s;
}

.btn-animation1:hover {
  transition: all 0.4s ease 0s;
  background-color: #61e37d;
  transform: translateY(-0.3rem);
}

.btn-animation2 {
  transition: all 0.4s;
}

.btn-animation2:hover {
  background-color: #3b3b3c;
  transform: translateY(-0.3rem);
}
